.main-header {
  background-color: #fff;
  padding-bottom: 0.4rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.header-stripe1 {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

a {
  text-decoration: none;
}

.header-logo {
  width: 19%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo a {
  width: 40%;
  height: 48%;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.main-navigation {
  width: 50%;
  height: 100%;
}

.nav-list {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-item,
.nav-item a {
  text-decoration: none;
  color: #717171;
  font-size: 1.07rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
}

.nav-item:hover {
  background-color: rgb(218, 211, 211);
}

.nav-item.active {
  color: #333 !important;
  font-weight: 900;
}

.icons-block {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.3rem;
}

.airbnb-info a {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 1.3rem;
}

.airbnb-info a:hover {
  background-color: rgb(218, 211, 211);
}

.globe-icon button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.globe-icon button:hover {
  background-color: rgb(218, 211, 211);
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.globe-icon svg {
  width: 25px;
  height: 20px;
}

.login-block {
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  position: relative;
}

.login-block button:hover {
  box-shadow: 0px 5px 5px rgb(218, 211, 211);
}

.login-btn {
  padding: 0.5rem 1.2rem;
  background-color: transparent;
  border: 1px solid #717171;
  border-radius: 2rem;
  cursor: pointer;
}

.list-icon svg {
  height: 28px;
  width: 20px;
}

.user-icon svg {
  height: 30px;
  width: 30px;
}

.header-stripe2 {
  height: 6rem;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-search-block {
  width: 60%;
  height: 80%;
  border: 1px solid #fff;
  border-radius: 2rem;
  box-shadow: 0px 3px 8px lightgrey;
  display: flex;
  align-items: center;
}

.search-option-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 0rem 1.6rem;
  position: relative;
  /* border-right: 1px solid rgb(222, 222, 222); */
}

.search-option-item .separator {
  position: absolute;
  right: 0;
  width: 1px;
  height: 30px;
  background-color: rgb(222, 222, 222);
  display: inline-block;
}

.search-option-item:hover .separator {
  display: none;

  /* visibility: hidden; */
}

.option-item-1,
.option-item-4 {
  width: 30%;
}

.option-item-4 {
  gap: 0rem;
  border-right-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.4rem;
}

.option-item-4child1 {
  display: flex;
  flex-direction: column;
}

.option-item-2,
.option-item-3 {
  width: 20%;
  gap: 0rem;
}

.search-option-item label {
  color: #333;
  font-weight: 800;
  font-size: 13px;
}

.search-option-item input {
  border: 0;
  padding: 0.3rem 0;
  outline: 0;
}

.search-option-item input::placeholder,
.search-option-item span {
  font-size: 16px;
}

.search-option-item:hover,
.search-option-item:hover input {
  background-color: rgb(218, 211, 211);
  border-radius: 2rem;
}

.search-btn {
  width: 50px;
  height: 50px;
  /* we can use css variables using a var() */
  background-color: var(--pink);
  border-radius: 50%;
  border: 0;
}

.search-btn svg {
  width: 22px;
  height: 22px;
  fill: #ffff;
}

.signup-modal {
  width: 240px;
  height: 10rem;
  background-color: #ffff;
  border-radius: 12px;
  position: absolute;
  top: 65px;
  right: 47px;
  z-index: 10;
  display: none;
}

.signup-modal-b1 {
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1.3rem;
  border-bottom: 0.8px solid #717171;
}

.signup-modal-b1 button {
  background: transparent;
  border: 0;
  font-size: 16px;
  line-height: 1.2rem;
  color: #717171;
  cursor: pointer;
  padding: 0rem 0.4rem;
}

/* .signup-modal-b1 button:hover {
  background-color: #717171;
} */

.signup-modal .signup-modal-b1 .active {
  color: #000000;
  font-weight: 600;
}

.signup-modal-b2 {
  padding: 0.4rem 1rem;
}
.signup-modal-b2 div {
  height: 100%;
}
.signup-modal-b2 a {
  color: #717171;
  font-size: 16px;
  line-height: 2rem;
  padding: 1rem 0rem;
}

/* slider-menu-options-css */

.filters-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-option-slider {
  width: 75%;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.menu-1:hover svg {
  fill: #000000;
}
.menu-1:hover p {
  color: #000000;
}
.menu-1:hover {
  border-bottom: 2px solid rgba(189, 179, 179, 0.5);
}

.menu-1.active {
  border-bottom: 2px solid #000000;
}

.svg {
  padding: 0rem 1rem;
}

.svg svg {
  fill: #717171;
}

.silder-text p {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.2rem;
  color: #717171;
  cursor: pointer;
}

.slider-button button {
  background-color: #fff;
  border-radius: 3rem;
  border: 1px solid #505050;
  padding: 0.3rem;
  cursor: pointer;
}

.slider-button button:hover {
  border-radius: 2rem;
  box-shadow: 0px 5px 5px rgba(189, 179, 179, 0.5);
}

.filter-options-buttons {
  width: 30%;
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.filter-option-1 button,
.filter-option-2 button {
  background-color: #fff;
  border: 0;
  border: 0.4px solid #717171;
  padding: 0.6rem 0.9rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.filter-option-1 span,
.filter-option-2 span {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

/* media queries */
@media (max-width: 1078px) {
  .filter-option-slider {
    gap: 0.4rem;
  }
}

/* tablet-header */
/*On max-width 743px */

.tablet-space {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  display: none;
}

.inputfield-1 {
  padding: 1rem;
  width: 80%;
}

input#anywhere {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid grey;
  outline: none;
}

.inputfield-1 input::placeholder {
  font-size: 17px;
}

.tablet-filter {
  width: 20%;
  padding: 1rem;
}

.tablet-filter svg {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 0rem 0.3rem;
}

@media (max-width: 743px) {
  .tablet-space {
    display: flex;
  }
  .header-stripe1,
  .header-stripe2 {
    display: none;
  }
  .filter-option-slider {
    padding: 0rem 2rem;
  }
}
