.bnb-location-cards-section {
}

.cards-wrapper {
  width: 98%;
  display: flex;
  margin: 1rem auto;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 0rem 0rem 0.6rem 0rem;
}

.location-cards {
  width: 23%;
  height: 25rem;
  padding: 1rem 0rem;
  position: relative;
}

.location-cards-img {
  width: 100%;
  height: 75%;
  border-radius: 10px;
  position: relative;
}
.location-cards-img a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.location-desc {
  width: 98%;
  height: 25%;
}

.location-name-rating strong {
  font-size: 16px;
}

.card-slider-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 38%;
  right: 0.4rem;
}

.location-cards:hover .left-caret,
.location-cards:hover .right-caret {
  opacity: 1;
}

.left-caret,
.right-caret {
  width: 34px;
  opacity: 0;
  transition: 0.4s linear;
}

.right-caret {
  margin-left: 14rem;
}

.left-caret button,
.right-caret button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.left-caret:hover button,
.right-caret:hover button {
  box-shadow: 0px 5px 5px #9c9b9b;
}

.location-name-rating {
  width: 100%;
  padding: 0.3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-name-rating svg {
  width: 12px;
  height: 12px;
}

.location-booking-desc {
  opacity: 0.8;
}

.location-booking-desc2 {
  width: 100%;
  padding: 0.3rem 0rem;
  font-size: 15px;
}

.explore-more-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 3rem 0rem;
}

.explore-text h3 {
  font-size: 19px;
  word-spacing: 0.1rem;
  line-height: 2rem;
  font-weight: 900;
}

.explore-btn button {
  color: #fff;
  background-color: #242424;
  border: 0;
  padding: 1rem 1.4rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

.explore-btn button:hover {
  background-color: #000000;
}

.wishlist-icon {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  scale: 1.2;
  padding: 0.2rem;
}

.wishlist-icon:hover {
  scale: 1.4;
  border-radius: 50%;
  background-color: #7474744f;
}

/* For responsiveness we apply @media screen and (max-width) to identify a breakpoint 
and then apply suitable css for the breakpoint to apply it over certain mobile devices */
@media screen and (max-width: 1100px) {
  .location-cards {
    width: 28%;
  }
}

@media screen and (max-width: 1000px) {
  .cards-wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 942px) {
  .location-cards {
    width: 35%;
  }
  .cards-wrapper {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 740px) {
  .location-cards {
    width: 40%;
  }
}

@media screen and (max-width: 622px) {
  .location-cards {
    width: 46%;
  }
}

@media screen and (max-width: 594px) {
  .location-cards {
    width: 50%;
  }
}

@media screen and (max-width: 510px) {
  .location-cards {
    width: 59%;
    height: 30rem;
  }

  .cards-wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .location-cards {
    width: 94%;
    height: 32rem;
  }
}
